Make_시나리오/오류_모니터링_시나리오/에러 처리.blueprint.json
{
  "name": "에러 처리",
  "flow": [
    {
      "id": 3,
      "module": "http:MakeRequest",
      "version": 4,
      "parameters": {
        "tlsType": "",
        "authenticationType": "noAuth"
      },
      "mapper": {
        "url": "https://eu1.make.com/api/v2/dlqs?scenarioId=6327372",
        "method": "get",
        "headers": [
          {
            "name": "Authorization",
            "value": "[REDACTED]"
          }
        ],
        "shareCookies": false,
        "parseResponse": true,
        "allowRedirects": true,
        "stopOnHttpError": true,
        "requestCompressedContent": true
      },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "expect": {
            "method": {
              "mode": "chose",
              "label": "GET"
            },
            "headers": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "contentType": {
              "label": "Empty"
            },
            "shareCookies": {
              "mode": "chose"
            },
            "parseResponse": {
              "mode": "chose"
            },
            "allowRedirects": {
              "mode": "chose"
            },
            "paginationType": {
              "label": "Empty"
            },
            "queryParameters": {
              "mode": "chose"
            },
            "stopOnHttpError": {
              "mode": "chose"
            },
            "requestCompressedContent": {
              "mode": "chose"
            }
          },
          "parameters": {
            "tlsType": {
              "label": "Empty"
            },
            "authenticationType": {
              "label": "No authenticationUse when no credentials are required for the request."
            }
          }
        },
        "parameters": [
          {
            "name": "authenticationType",
            "type": "select",
            "label": "Authentication type",
            "required": true,
            "validate": {
              "enum": [
                "noAuth",
                "apiKey",
                "basicAuth",
                "oAuth"
              ]
            }
          },
          {
            "name": "tlsType",
            "type": "select",
            "label": "Transport layer security (TLS)",
            "validate": {
              "enum": [
                "mTls",
                "tls"
              ]
            }
          },
          {
            "name": "proxyKeychain",
            "type": "keychain:proxy",
            "label": "Proxy"
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "get",
                "head",
                "post",
                "put",
                "patch",
                "delete",
                "options"
              ]
            }
          },
          {
            "name": "headers",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true,
                  "validate": {
                    "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                  }
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Header"
            },
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "queryParameters",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Parameter"
            },
            "type": "array",
            "label": "Query parameters"
          },
          {
            "name": "contentType",
            "type": "select",
            "label": "Body content type",
            "validate": {
              "enum": [
                "json",
                "multipart",
                "urlEncoded",
                "custom"
              ]
            }
          },
          {
            "name": "parseResponse",
            "type": "boolean",
            "label": "Parse response",
            "required": true
          },
          {
            "name": "stopOnHttpError",
            "type": "boolean",
            "label": "Return error if HTTP request fails",
            "required": true
          },
          {
            "name": "timeout",
            "type": "uinteger",
            "label": "Timeout",
            "validate": {
              "max": 300,
              "min": 1
            }
          },
          {
            "name": "allowRedirects",
            "type": "boolean",
            "label": "Allow redirects",
            "required": true
          },
          {
            "name": "shareCookies",
            "type": "boolean",
            "label": "Share cookies with other HTTP modules",
            "required": true
          },
          {
            "name": "requestCompressedContent",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          },
          {
            "name": "paginationType",
            "type": "select",
            "label": "Pagination type",
            "validate": {
              "enum": [
                "offsetBased",
                "pageBased",
                "urlBased",
                "tokenBased"
              ]
            }
          }
        ],
        "interface": [
          {
            "name": "data",
            "type": "any",
            "label": "Data"
          },
          {
            "name": "statusCode",
            "type": "number",
            "label": "Status Code"
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "content-length",
                "type": "text",
                "label": "Content-Length"
              },
              {
                "name": "content-encoding",
                "type": "text",
                "label": "Content-Encoding"
              },
              {
                "name": "content-type",
                "type": "text",
                "label": "Content-Type"
              },
              {
                "name": "server",
                "type": "text",
                "label": "Server"
              },
              {
                "name": "cache-control",
                "type": "text",
                "label": "Cache-Control"
              },
              {
                "name": "set-cookie",
                "spec": {
                  "type": "text"
                },
                "type": "array",
                "label": "Set-Cookie"
              }
            ],
            "type": "collection",
            "label": "Headers"
          }
        ]
      }
    },
    {
      "id": 4,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{3.data.dlqs}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "expect": {
            "array": {
              "mode": "edit"
            }
          }
        },
        "expect": [
          {
            "mode": "edit",
            "name": "array",
            "spec": [],
            "type": "array",
            "label": "Array"
          }
        ]
      }
    },
    {
      "id": 5,
      "module": "notion:searchObjects1",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 8530841
      },
      "mapper": {
        "limit": "1",
        "filter": [
          [
            {
              "a": "오류 ID |&*^%$#@| rich_text",
              "b": "{{4.id}}",
              "o": "text:equals"
            }
          ]
        ],
        "select": "item",
        "database": "38a30fc4b6698084862ae81c1356026d"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "restore": {
          "expect": {
            "sorts": {
              "mode": "chose"
            },
            "select": {
              "label": "Database Items (Legacy)This can be used only if your database has a single data source."
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "notion3"
              },
              "label": "ppp Internal connection"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:notion2,notion3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Search Objects",
            "required": true,
            "validate": {
              "enum": [
                "data_source_item",
                "data_source",
                "page",
                "item",
                "database"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "database",
            "type": "text",
            "label": "Database ID",
            "required": true
          },
          {
            "name": "filter",
            "type": "filter",
            "label": "Filter",
            "options": {
              "store": [
                {
                  "label": "오류 로그 (Rich text)",
                  "value": "오류 로그 |&*^%$#@| rich_text"
                },
                {
                  "label": "오류 ID (Rich text)",
                  "value": "오류 ID |&*^%$#@| rich_text"
                },
                {
                  "label": "발행일시 (Date)",
                  "value": "발행일시 |&*^%$#@| date"
                },
                {
                  "label": "상태 (Select)",
                  "value": "상태 |&*^%$#@| select"
                },
                {
                  "label": "요약문 (Rich text)",
                  "value": "요약문 |&*^%$#@| rich_text"
                },
                {
                  "label": "원문 링크 (Url)",
                  "value": "원문 링크 |&*^%$#@| url"
                },
                {
                  "label": "오류 단계 (Rich text)",
                  "value": "오류 단계 |&*^%$#@| rich_text"
                },
                {
                  "label": "제목 (Title)",
                  "value": "제목 |&*^%$#@| title"
                }
              ],
              "operators": [
                {
                  "label": "Text",
                  "options": [
                    {
                      "label": "Equals",
                      "value": "text:equals"
                    },
                    {
                      "label": "Does not equal",
                      "value": "text:does_not_equal"
                    },
                    {
                      "label": "Contains",
                      "value": "text:contains"
                    },
                    {
                      "label": "Does not contain",
                      "value": "text:does_not_contain"
                    },
                    {
                      "label": "Starts with",
                      "value": "text:starts_with"
                    },
                    {
                      "label": "Ends with",
                      "value": "text:ends_with"
                    },
                    {
                      "label": "Is empty (Boolean)",
                      "value": "text:is_empty"
                    },
                    {
                      "label": "Is not empty (boolean)",
                      "value": "text:is_not_empty"
                    }
                  ]
                },
                {
                  "label": "Number",
                  "options": [
                    {
                      "label": "Equals",
                      "value": "number:equals"
                    },
                    {
                      "label": "Does not equal",
                      "value": "number:does_not_equal"
                    },
                    {
                      "label": "Greater than",
                      "value": "number:greater_than"
                    },
                    {
                      "label": "Less than",
                      "value": "number:less_than"
                    },
                    {
                      "label": "Greater than or equal to",
                      "value": "number:greater_than_or_equal_to"
                    },
                    {
                      "label": "Less than or equal to",
                      "value": "number:less_than_or_equal_to"
                    },
                    {
                      "label": "Is empty (Boolean)",
                      "value": "number:is_empty"
                    },
                    {
                      "label": "Is not empty (boolean)",
                      "value": "number:is_not_empty"
                    }
                  ]
                },
                {
                  "label": "Date",
                  "options": [
                    {
                      "label": "Equals",
                      "value": "date:equals"
                    },
                    {
                      "label": "Before",
                      "value": "date:before"
                    },
                    {
                      "label": "After",
                      "value": "date:after"
                    },
                    {
                      "label": "On or before",
                      "value": "date:on_or_before"
                    },
                    {
                      "label": "On or after",
                      "value": "date:on_or_after"
                    },
                    {
                      "label": "Is empty (Boolean)",
                      "value": "date:is_empty"
                    },
                    {
                      "label": "Is not empty (boolean)",
                      "value": "date:is_not_empty"
                    }
                  ]
                },
                {
                  "label": "Checkbox",
                  "options": [
                    {
                      "label": "Equals",
                      "value": "checkbox:equals"
                    },
                    {
                      "label": "Does not equal",
                      "value": "checkbox:does_not_equal"
                    }
                  ]
                },
                {
                  "label": "File",
                  "options": [
                    {
                      "label": "Is empty",
                      "value": "file:is_empty"
                    },
                    {
                      "label": "Is not empty",
                      "value": "file:is_not_empty"
                    }
                  ]
                },
                {
                  "label": "Select",
                  "options": [
                    {
                      "label": "Equals",
                      "value": "select:equals"
                    },
                    {
                      "label": "Does not equal",
                      "value": "select:does_not_equal"
                    },
                    {
                      "label": "Is empty (Boolean)",
                      "value": "select:is_empty"
                    },
                    {
                      "label": "Is not empty (boolean)",
                      "value": "select:is_not_empty"
                    }
                  ]
                },
                {
                  "label": "Multi-select",
                  "options": [
                    {
                      "label": "Contains",
                      "value": "multiselect:contains"
                    },
                    {
                      "label": "Does not contain",
                      "value": "multiselect:does_not_contain"
                    },
                    {
                      "label": "Is empty (Boolean)",
                      "value": "multiselect:is_empty"
                    },
                    {
                      "label": "Is not empty (boolean)",
                      "value": "multiselect:is_not_empty"
                    }
                  ]
                },
                {
                  "label": "People",
                  "options": [
                    {
                      "label": "Contains",
                      "value": "people:contains"
                    },
                    {
                      "label": "Does not contain",
                      "value": "people:does_not_contain"
                    },
                    {
                      "label": "Is empty (Boolean)",
                      "value": "people:is_empty"
                    },
                    {
                      "label": "Is not empty (boolean)",
                      "value": "people:is_not_empty"
                    }
                  ]
                },
                {
                  "label": "Relation",
                  "options": [
                    {
                      "label": "Contains",
                      "value": "relation:contains"
                    },
                    {
                      "label": "Does not contain",
                      "value": "relation:does_not_contain"
                    },
                    {
                      "label": "Is empty (Boolean)",
                      "value": "relation:is_empty"
                    },
                    {
                      "label": "Is not empty (boolean)",
                      "value": "relation:is_not_empty"
                    }
                  ]
                },
                {
                  "label": "Formula",
                  "options": [
                    {
                      "label": "String - Equals",
                      "value": "formula:text-equals"
                    },
                    {
                      "label": "String - Does not equal",
                      "value": "formula:text-does_not_equal"
                    },
                    {
                      "label": "String - Contains",
                      "value": "formula:text-contains"
                    },
                    {
                      "label": "String - Does not contain",
                      "value": "formula:text-does_not_contain"
                    },
                    {
                      "label": "String - Starts with",
                      "value": "formula:text-starts_with"
                    },
                    {
                      "label": "String - Ends with",
                      "value": "formula:text-ends_with"
                    },
                    {
                      "label": "String - Is empty (Boolean)",
                      "value": "formula:text-is_empty"
                    },
                    {
                      "label": "Text - Is not empty (boolean)",
                      "value": "formula:text-is_not_empty"
                    },
                    {
                      "label": "Checkbox - Equals",
                      "value": "formula:checkbox-equals"
                    },
                    {
                      "label": "Checkbox - Does not equal",
                      "value": "formula:checkbox-does_not_equal"
                    },
                    {
                      "label": "Number - Equals",
                      "value": "formula:number-equals"
                    },
                    {
                      "label": "Number - Does not equal",
                      "value": "formula:number-does_not_equal"
                    },
                    {
                      "label": "Number - Greater than",
                      "value": "formula:number-greater_than"
                    },
                    {
                      "label": "Number - Less than",
                      "value": "formula:number-less_than"
                    },
                    {
                      "label": "Number - Greater than or equal to",
                      "value": "formula:number-greater_than_or_equal_to"
                    },
                    {
                      "label": "Number - Less than or equal to",
                      "value": "formula:number-less_than_or_equal_to"
                    },
                    {
                      "label": "Number - Is empty (Boolean)",
                      "value": "formula:number-is_empty"
                    },
                    {
                      "label": "Number - Is not empty (boolean)",
                      "value": "formula:number-is_not_empty"
                    },
                    {
                      "label": "Date - Equals",
                      "value": "formula:date-equals"
                    },
                    {
                      "label": "Date - before",
                      "value": "formula:date-before"
                    },
                    {
                      "label": "Date - after",
                      "value": "formula:date-after"
                    },
                    {
                      "label": "Date - On or before",
                      "value": "formula:date-on_or_before"
                    },
                    {
                      "label": "Date - On or after",
                      "value": "formula:date-on_or_after"
                    },
                    {
                      "label": "Date - Is empty (Boolean)",
                      "value": "formula:date-is_empty"
                    },
                    {
                      "label": "Date - Is not empty (boolean)",
                      "value": "formula:date-is_not_empty"
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "sorts",
            "spec": [
              {
                "name": "select",
                "type": "select",
                "label": "Select a Field to Sort",
                "options": [
                  {
                    "label": "Property Field",
                    "value": "property",
                    "nested": [
                      {
                        "name": "property",
                        "type": "select",
                        "label": "Property Field",
                        "options": "rpc://notion/1/listDatabasePropertiesFieldsForFilter?sortParameter=true",
                        "required": true
                      }
                    ]
                  },
                  {
                    "label": "Timestamp",
                    "value": "timestamp",
                    "nested": [
                      {
                        "name": "timestamp",
                        "type": "select",
                        "label": "Timestamp",
                        "options": [
                          {
                            "label": "Created time",
                            "value": "created_time",
                            "default": true
                          },
                          {
                            "label": "Last edited time",
                            "value": "last_edited_time"
                          }
                        ],
                        "required": true
                      }
                    ],
                    "default": true
                  }
                ],
                "required": true
              },
              {
                "name": "direction",
                "type": "select",
                "label": "Direction",
                "options": [
                  {
                    "label": "Ascending",
                    "value": "ascending"
                  },
                  {
                    "label": "Descending",
                    "value": "descending"
                  }
                ],
                "required": true
              }
            ],
            "type": "array",
            "label": "Sorts"
          }
        ],
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "object",
            "type": "text",
            "label": "Object"
          },
          {
            "name": "id",
            "type": "text",
            "label": "Page ID"
          },
          {
            "name": "created_time",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "last_edited_time",
            "type": "date",
            "label": "Last Edited Time"
          },
          {
            "name": "created_by",
            "spec": [
              {
                "name": "object",
                "type": "text",
                "label": "Object"
              },
              {
                "name": "id",
                "type": "uuid",
                "label": "ID"
              }
            ],
            "type": "collection",
            "label": "Created by"
          },
          {
            "name": "last_edited_by",
            "spec": [
              {
                "name": "object",
                "type": "text",
                "label": "Object"
              },
              {
                "name": "id",
                "type": "uuid",
                "label": "ID"
              }
            ],
            "type": "collection",
            "label": "Last Edited by"
          },
          {
            "name": "icon",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "emoji",
                "type": "text",
                "label": "Emoji"
              }
            ],
            "type": "collection",
            "label": "Icon"
          },
          {
            "name": "cover",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "external",
                "spec": [
                  {
                    "name": "url",
                    "type": "text",
                    "label": "URL"
                  }
                ],
                "type": "collection",
                "label": "External"
              }
            ],
            "type": "collection",
            "label": "Cover"
          },
          {
            "name": "url",
            "type": "text",
            "label": "URL"
          },
          {
            "name": "parent",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "workspace",
                "type": "boolean",
                "label": "Workspace"
              },
              {
                "name": "page_id",
                "type": "text",
                "label": "Page ID"
              },
              {
                "name": "database_id",
                "type": "text",
                "label": "Database ID"
              },
              {
                "name": "data_source_id",
                "type": "text",
                "label": "Data Source ID"
              }
            ],
            "type": "collection",
            "label": "Parent"
          },
          {
            "name": "properties",
            "spec": {
              "spec": [
                {
                  "name": "id",
                  "type": "text",
                  "label": "ID"
                },
                {
                  "name": "type",
                  "type": "text",
                  "label": "Type"
                },
                {
                  "name": "people",
                  "spec": {
                    "spec": [
                      {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                      },
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "avatar_url",
                        "type": "text",
                        "label": "Avatar Url"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "person",
                        "spec": [
                          {
                            "name": "email",
                            "type": "text",
                            "label": "Email"
                          }
                        ],
                        "type": "collection",
                        "label": "Person"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "People"
                },
                {
                  "name": "url",
                  "type": "text",
                  "label": "URL"
                },
                {
                  "name": "text",
                  "spec": {
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "text",
                        "spec": [
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "link",
                            "type": "text",
                            "label": "Link"
                          }
                        ],
                        "type": "collection",
                        "label": "Text"
                      },
                      {
                        "name": "annotations",
                        "spec": [
                          {
                            "name": "bold",
                            "type": "boolean",
                            "label": "Bold"
                          },
                          {
                            "name": "italic",
                            "type": "boolean",
                            "label": "Italic"
                          },
                          {
                            "name": "strikethrough",
                            "type": "boolean",
                            "label": "Strikethrough"
                          },
                          {
                            "name": "underline",
                            "type": "boolean",
                            "label": "Underline"
                          },
                          {
                            "name": "code",
                            "type": "boolean",
                            "label": "Code"
                          },
                          {
                            "name": "color",
                            "type": "text",
                            "label": "Color"
                          }
                        ],
                        "type": "collection",
                        "label": "Annotations"
                      },
                      {
                        "name": "plain_text",
                        "type": "text",
                        "label": "Plain Text"
                      },
                      {
                        "name": "href",
                        "type": "text",
                        "label": "Href"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Text"
                },
                {
                  "name": "select",
                  "spec": [
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "color",
                      "type": "text",
                      "label": "Color"
                    }
                  ],
                  "type": "collection",
                  "label": "Select"
                },
                {
                  "name": "email",
                  "type": "text",
                  "label": "Email"
                },
                {
                  "name": "phone_number",
                  "type": "text",
                  "label": "Phone Number"
                },
                {
                  "name": "multi_select",
                  "spec": {
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Multi Select"
                },
                {
                  "name": "date",
                  "spec": [
                    {
                      "name": "start",
                      "type": "text",
                      "label": "Start"
                    },
                    {
                      "name": "end",
                      "type": "text",
                      "label": "End"
                    }
                  ],
                  "type": "collection",
                  "label": "Date"
                },
                {
                  "name": "checkbox",
                  "type": "boolean",
                  "label": "Checkbox"
                },
                {
                  "name": "number",
                  "type": "number",
                  "label": "Number"
                },
                {
                  "name": "files",
                  "spec": {
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Files"
                },
                {
                  "name": "title",
                  "spec": {
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "text",
                        "spec": [
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "link",
                            "type": "text",
                            "label": "Link"
                          }
                        ],
                        "type": "collection",
                        "label": "Text"
                      },
                      {
                        "name": "annotations",
                        "spec": [
                          {
                            "name": "bold",
                            "type": "boolean",
                            "label": "Bold"
                          },
                          {
                            "name": "italic",
                            "type": "boolean",
                            "label": "Italic"
                          },
                          {
                            "name": "strikethrough",
                            "type": "boolean",
                            "label": "Strikethrough"
                          },
                          {
                            "name": "underline",
                            "type": "boolean",
                            "label": "Underline"
                          },
                          {
                            "name": "code",
                            "type": "boolean",
                            "label": "Code"
                          },
                          {
                            "name": "color",
                            "type": "text",
                            "label": "Color"
                          }
                        ],
                        "type": "collection",
                        "label": "Annotations"
                      },
                      {
                        "name": "plain_text",
                        "type": "text",
                        "label": "Plain Text"
                      },
                      {
                        "name": "href",
                        "type": "text",
                        "label": "Href"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Title"
                },
                {
                  "name": "last_edited_time",
                  "time": true,
                  "type": "date",
                  "label": "Last Edited Time"
                },
                {
                  "name": "created_time",
                  "time": true,
                  "type": "date",
                  "label": "Created Time"
                },
                {
                  "name": "last_edited_by",
                  "spec": [
                    {
                      "name": "object",
                      "type": "text",
                      "label": "Object"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "avatar_url",
                      "type": "text",
                      "label": "Avatar Url"
                    },
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "person",
                      "spec": [
                        {
                          "name": "email",
                          "type": "text",
                          "label": "Email"
                        }
                      ],
                      "type": "collection",
                      "label": "Person"
                    }
                  ],
                  "type": "collection",
                  "label": "Last Edited By"
                },
                {
                  "name": "created_by",
                  "spec": [
                    {
                      "name": "object",
                      "type": "text",
                      "label": "Object"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "avatar_url",
                      "type": "text",
                      "label": "Avatar Url"
                    },
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "person",
                      "spec": [
                        {
                          "name": "email",
                          "type": "text",
                          "label": "Email"
                        }
                      ],
                      "type": "collection",
                      "label": "Person"
                    }
                  ],
                  "type": "collection",
                  "label": "Created By"
                },
                {
                  "name": "formula",
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "string",
                      "type": "text",
                      "label": "String"
                    }
                  ],
                  "type": "collection",
                  "label": "Formula"
                },
                {
                  "name": "relation",
                  "spec": {
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Relation"
                },
                {
                  "name": "label",
                  "type": "text",
                  "label": "Label"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Properties"
          },
          {
            "name": "public_url",
            "type": "text",
            "label": "Public URL"
          },
          {
            "name": "archived",
            "type": "boolean",
            "label": "Archived"
          },
          {
            "name": "in_trash",
            "type": "boolean",
            "label": "In Trash"
          },
          {
            "name": "properties_value",
            "spec": [
              {
                "name": "오류 로그",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "오류 로그"
              },
              {
                "name": "오류 ID",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "오류 ID"
              },
              {
                "name": "발행일시",
                "spec": [
                  {
                    "name": "start",
                    "type": "date",
                    "label": "Start"
                  },
                  {
                    "name": "end",
                    "type": "date",
                    "label": "End"
                  },
                  {
                    "name": "time_zone",
                    "type": "text",
                    "label": "Time Zone"
                  }
                ],
                "type": "collection",
                "label": "발행일시"
              },
              {
                "name": "상태",
                "spec": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "color",
                    "type": "text",
                    "label": "Color"
                  }
                ],
                "type": "collection",
                "label": "상태"
              },
              {
                "name": "요약문",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "요약문"
              },
              {
                "name": "원문 링크",
                "type": "text",
                "label": "원문 링크"
              },
              {
                "name": "오류 단계",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "오류 단계"
              },
              {
                "name": "제목",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "제목"
              }
            ],
            "type": "collection",
            "label": "Properties Value"
          }
        ]
      }
    },
    {
      "id": 6,
      "module": "notion:createAPage",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 8530841
      },
      "filter": {
        "name": "중복 없음 필터",
        "conditions": [
          [
            {
              "a": "{{5.`__IMTLENGTH__`}}",
              "b": "0",
              "o": "text:equal"
            }
          ]
        ]
      },
      "mapper": {
        "fields": [
          {
            "key": "제목",
            "type": "title",
            "value": "[오류] Make Incomplete Execution"
          },
          {
            "key": "요약문",
            "type": "rich_text",
            "value": "뉴스 자동화 시나리오에서 재시도 후에도 실패한 실행이 발생했습니다."
          },
          {
            "key": "상태",
            "type": "select",
            "value": "오류"
          },
          {
            "key": "오류 로그",
            "type": "rich_text",
            "value": "{{4.reason}}"
          },
          {
            "key": "오류 ID",
            "type": "rich_text",
            "value": "{{4.id}}"
          },
          {
            "key": "발행일시",
            "date": {
              "start": "{{4.nextReprocessTimestamp}}"
            },
            "type": "date"
          }
        ],
        "select": "map",
        "database": "38a30fc4b6698084862ae81c1356026d"
      },
      "metadata": {
        "designer": {
          "x": 934,
          "y": -3
        },
        "restore": {
          "expect": {
            "fields": {
              "mode": "chose",
              "items": [
                {
                  "type": {
                    "mode": "chose",
                    "label": "Title"
                  }
                },
                {
                  "type": {
                    "mode": "chose",
                    "label": "Rich text"
                  }
                },
                {
                  "type": {
                    "mode": "chose",
                    "label": "Select"
                  }
                },
                {
                  "type": {
                    "mode": "chose",
                    "label": "Rich text"
                  }
                },
                {
                  "type": {
                    "mode": "chose",
                    "label": "Rich text"
                  }
                },
                {
                  "date": {
                    "nested": {
                      "includeTime": {
                        "mode": "chose",
                        "label": "Empty"
                      }
                    }
                  },
                  "type": {
                    "mode": "chose",
                    "label": "Date"
                  }
                }
              ]
            },
            "select": {
              "label": "Enter manually"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "notion3"
              },
              "label": "ppp Internal connection"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:notion2,notion3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Enter a Database ID",
            "required": true,
            "validate": {
              "enum": [
                "map",
                "list"
              ]
            }
          },
          {
            "name": "database",
            "type": "text",
            "label": "Database ID",
            "required": true
          },
          {
            "name": "fields",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key",
                "required": true
              },
              {
                "name": "type",
                "type": "select",
                "label": "Value Type",
                "options": [
                  {
                    "label": "Title",
                    "value": "title",
                    "nested": [
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Text",
                    "value": "text",
                    "nested": [
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ],
                    "default": true
                  },
                  {
                    "label": "Rich text",
                    "value": "rich_text",
                    "nested": [
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Email",
                    "value": "email",
                    "nested": [
                      {
                        "name": "value",
                        "type": "email",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Select",
                    "value": "select",
                    "nested": [
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Status",
                    "value": "status",
                    "nested": [
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Multi select",
                    "value": "multi_select",
                    "nested": [
                      {
                        "name": "value",
                        "type": "array",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Phone number",
                    "value": "phone_number",
                    "nested": [
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Checkbox",
                    "value": "checkbox",
                    "nested": [
                      {
                        "name": "value",
                        "type": "boolean",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "URL",
                    "value": "url",
                    "nested": [
                      {
                        "name": "value",
                        "type": "url",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Number",
                    "value": "number",
                    "nested": [
                      {
                        "name": "value",
                        "type": "number",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "People",
                    "value": "people",
                    "nested": [
                      {
                        "name": "value",
                        "type": "array",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Date",
                    "value": "date",
                    "nested": [
                      {
                        "name": "date",
                        "spec": [
                          {
                            "name": "start",
                            "time": true,
                            "type": "date",
                            "label": "Start Time"
                          },
                          {
                            "help": "Optional. Use only when entering a date range.",
                            "name": "end",
                            "time": true,
                            "type": "date",
                            "label": "End Time"
                          },
                          {
                            "name": "includeTime",
                            "type": "select",
                            "label": "Include Time",
                            "options": [
                              {
                                "label": "Yes",
                                "value": true
                              },
                              {
                                "label": "No",
                                "value": false
                              }
                            ]
                          }
                        ],
                        "type": "collection",
                        "label": "Date"
                      }
                    ]
                  },
                  {
                    "label": "Relation",
                    "value": "relation",
                    "nested": [
                      {
                        "name": "value",
                        "type": "array",
                        "label": "Value"
                      }
                    ]
                  }
                ],
                "required": true
              }
            ],
            "type": "array",
            "label": "Fields"
          }
        ],
        "interface": [
          {
            "name": "object",
            "type": "text",
            "label": "Object"
          },
          {
            "name": "id",
            "type": "text",
            "label": "Database Item ID"
          },
          {
            "name": "created_time",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "last_edited_time",
            "type": "date",
            "label": "Last Edited Time"
          },
          {
            "name": "created_by",
            "spec": [
              {
                "name": "object",
                "type": "text",
                "label": "Object"
              },
              {
                "name": "id",
                "type": "uuid",
                "label": "ID"
              }
            ],
            "type": "collection",
            "label": "Created by"
          },
          {
            "name": "last_edited_by",
            "spec": [
              {
                "name": "object",
                "type": "text",
                "label": "Object"
              },
              {
                "name": "id",
                "type": "uuid",
                "label": "ID"
              }
            ],
            "type": "collection",
            "label": "Last Edited by"
          },
          {
            "name": "icon",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "emoji",
                "type": "text",
                "label": "Emoji"
              }
            ],
            "type": "collection",
            "label": "Icon"
          },
          {
            "name": "cover",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "external",
                "spec": [
                  {
                    "name": "url",
                    "type": "text",
                    "label": "URL"
                  }
                ],
                "type": "collection",
                "label": "External"
              }
            ],
            "type": "collection",
            "label": "Cover"
          },
          {
            "name": "url",
            "type": "text",
            "label": "URL"
          },
          {
            "name": "parent",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "workspace",
                "type": "boolean",
                "label": "Workspace"
              },
              {
                "name": "page_id",
                "type": "text",
                "label": "Page ID"
              },
              {
                "name": "database_id",
                "type": "text",
                "label": "Database ID"
              }
            ],
            "type": "collection",
            "label": "Parent"
          },
          {
            "name": "archived",
            "type": "boolean",
            "label": "Archived"
          },
          {
            "name": "properties",
            "spec": {
              "spec": [
                {
                  "name": "id",
                  "type": "text",
                  "label": "ID"
                },
                {
                  "name": "type",
                  "type": "text",
                  "label": "Type"
                },
                {
                  "name": "people",
                  "spec": {
                    "spec": [
                      {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                      },
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "avatar_url",
                        "type": "text",
                        "label": "Avatar Url"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "person",
                        "spec": [
                          {
                            "name": "email",
                            "type": "text",
                            "label": "Email"
                          }
                        ],
                        "type": "collection",
                        "label": "Person"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "People"
                },
                {
                  "name": "url",
                  "type": "text",
                  "label": "URL"
                },
                {
                  "name": "text",
                  "spec": {
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "text",
                        "spec": [
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "link",
                            "type": "text",
                            "label": "Link"
                          }
                        ],
                        "type": "collection",
                        "label": "Text"
                      },
                      {
                        "name": "annotations",
                        "spec": [
                          {
                            "name": "bold",
                            "type": "boolean",
                            "label": "Bold"
                          },
                          {
                            "name": "italic",
                            "type": "boolean",
                            "label": "Italic"
                          },
                          {
                            "name": "strikethrough",
                            "type": "boolean",
                            "label": "Strikethrough"
                          },
                          {
                            "name": "underline",
                            "type": "boolean",
                            "label": "Underline"
                          },
                          {
                            "name": "code",
                            "type": "boolean",
                            "label": "Code"
                          },
                          {
                            "name": "color",
                            "type": "text",
                            "label": "Color"
                          }
                        ],
                        "type": "collection",
                        "label": "Annotations"
                      },
                      {
                        "name": "plain_text",
                        "type": "text",
                        "label": "Plain Text"
                      },
                      {
                        "name": "href",
                        "type": "text",
                        "label": "Href"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Text"
                },
                {
                  "name": "select",
                  "spec": [
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "color",
                      "type": "text",
                      "label": "Color"
                    }
                  ],
                  "type": "collection",
                  "label": "Select"
                },
                {
                  "name": "email",
                  "type": "text",
                  "label": "Email"
                },
                {
                  "name": "phone_number",
                  "type": "text",
                  "label": "Phone Number"
                },
                {
                  "name": "multi_select",
                  "spec": {
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Multi Select"
                },
                {
                  "name": "date",
                  "spec": [
                    {
                      "name": "start",
                      "type": "text",
                      "label": "Start"
                    },
                    {
                      "name": "end",
                      "type": "text",
                      "label": "End"
                    }
                  ],
                  "type": "collection",
                  "label": "Date"
                },
                {
                  "name": "checkbox",
                  "type": "boolean",
                  "label": "Checkbox"
                },
                {
                  "name": "number",
                  "type": "number",
                  "label": "Number"
                },
                {
                  "name": "files",
                  "spec": {
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Files"
                },
                {
                  "name": "title",
                  "spec": {
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "text",
                        "spec": [
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "link",
                            "type": "text",
                            "label": "Link"
                          }
                        ],
                        "type": "collection",
                        "label": "Text"
                      },
                      {
                        "name": "annotations",
                        "spec": [
                          {
                            "name": "bold",
                            "type": "boolean",
                            "label": "Bold"
                          },
                          {
                            "name": "italic",
                            "type": "boolean",
                            "label": "Italic"
                          },
                          {
                            "name": "strikethrough",
                            "type": "boolean",
                            "label": "Strikethrough"
                          },
                          {
                            "name": "underline",
                            "type": "boolean",
                            "label": "Underline"
                          },
                          {
                            "name": "code",
                            "type": "boolean",
                            "label": "Code"
                          },
                          {
                            "name": "color",
                            "type": "text",
                            "label": "Color"
                          }
                        ],
                        "type": "collection",
                        "label": "Annotations"
                      },
                      {
                        "name": "plain_text",
                        "type": "text",
                        "label": "Plain Text"
                      },
                      {
                        "name": "href",
                        "type": "text",
                        "label": "Href"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Title"
                },
                {
                  "name": "last_edited_time",
                  "time": true,
                  "type": "date",
                  "label": "Last Edited Time"
                },
                {
                  "name": "created_time",
                  "time": true,
                  "type": "date",
                  "label": "Created Time"
                },
                {
                  "name": "last_edited_by",
                  "spec": [
                    {
                      "name": "object",
                      "type": "text",
                      "label": "Object"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "avatar_url",
                      "type": "text",
                      "label": "Avatar Url"
                    },
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "person",
                      "spec": [
                        {
                          "name": "email",
                          "type": "text",
                          "label": "Email"
                        }
                      ],
                      "type": "collection",
                      "label": "Person"
                    }
                  ],
                  "type": "collection",
                  "label": "Last Edited By"
                },
                {
                  "name": "created_by",
                  "spec": [
                    {
                      "name": "object",
                      "type": "text",
                      "label": "Object"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "avatar_url",
                      "type": "text",
                      "label": "Avatar Url"
                    },
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "person",
                      "spec": [
                        {
                          "name": "email",
                          "type": "text",
                          "label": "Email"
                        }
                      ],
                      "type": "collection",
                      "label": "Person"
                    }
                  ],
                  "type": "collection",
                  "label": "Created By"
                },
                {
                  "name": "formula",
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "string",
                      "type": "text",
                      "label": "String"
                    }
                  ],
                  "type": "collection",
                  "label": "Formula"
                },
                {
                  "name": "relation",
                  "spec": {
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Relation"
                },
                {
                  "name": "label",
                  "type": "text",
                  "label": "Label"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Properties"
          },
          {
            "name": "properties_value",
            "spec": [
              {
                "name": "오류 로그",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "오류 로그"
              },
              {
                "name": "오류 ID",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "오류 ID"
              },
              {
                "name": "발행일시",
                "spec": [
                  {
                    "name": "start",
                    "type": "date",
                    "label": "Start"
                  },
                  {
                    "name": "end",
                    "type": "date",
                    "label": "End"
                  },
                  {
                    "name": "time_zone",
                    "type": "text",
                    "label": "Time Zone"
                  }
                ],
                "type": "collection",
                "label": "발행일시"
              },
              {
                "name": "상태",
                "spec": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "color",
                    "type": "text",
                    "label": "Color"
                  }
                ],
                "type": "collection",
                "label": "상태"
              },
              {
                "name": "요약문",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "요약문"
              },
              {
                "name": "원문 링크",
                "type": "text",
                "label": "원문 링크"
              },
              {
                "name": "오류 단계",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "오류 단계"
              },
              {
                "name": "제목",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "제목"
              }
            ],
            "type": "collection",
            "label": "Properties Value"
          }
        ]
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com",
    "notes": []
  }
}
